body{
    background-color: aqua;
    scroll-behavior: smooth;
}

#Camera, #snapshot{
    background-color: white;
    border-width: 10px;
    border-style: ridge;
    height: 300px;
    width: 400px;
}

.alignment1{
    float: left;
}

.alignment2{
    float: right;
}